.container {
  width: 100vw;
  nav {
    p {
      margin-bottom: 0;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    div {
      width: 60%;
      display: flex;
      justify-content: space-between;
      a {
        padding: 1rem;
        &:hover {
          background: rgba(0, 0, 0, 0.6);
        }
      }
    }
    .menu {
      font-size: 30px;
      display: none;
      cursor: pointer;
    }
  }
  header {
    background: url("/images/header.png") top center/contain no-repeat fixed;
    height: 20vw;
  }

  footer {
    min-height: 300px;
    margin-top: 20px;
    background-color: grey;
  }
}
.back {
  font-size: 40px;
  color: rgb(239, 128, 45);
}

@media only screen and (max-width: 1200px) {
  .container {
    nav {
      padding: 1rem;
      div {
        flex-direction: column;
        align-items: center;
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        transition: all 500ms;
        padding: 10px;
      }

      .menu {
        display: block;
      }
    }
  }
}
