.intro {
  width: 50vw;
}

.pictureMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    display: flex;
    height: 400px;
    width: 15%;
    background-size: cover;
    background-position: center;
    background-blend-mode: saturation;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(239, 128, 45);
    font-size: 26px;
    text-transform: uppercase;
    border-radius: 20px;
    &:first-of-type {
      background-image: linear-gradient(black, black),
        url("/images/agenda.jpeg");
    }
    &:nth-of-type(2) {
      background-image: linear-gradient(black, black),
        url("/images/nieuws.jpeg");
    }
    &:nth-of-type(3) {
      background-image: linear-gradient(black, black), url("/images/leden.jpeg");
    }
    &:nth-of-type(4) {
      background-image: linear-gradient(black, black),
        url("/images/contact.jpeg");
    }
    &:nth-of-type(5) {
      background-image: linear-gradient(black, black),
        url("/images/lid_worden.jpeg");
    }
    p {
      padding: 30px;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 30px;
      color: white;
    }
  }
}

.events {
  .next {
    display: flex;
    justify-content: center;
    height: 30vw;
    margin-bottom: 50px;
    h2 {
      color: white;
    }
    div {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      div {
        width: 100%;
      }
    }
    .poster {
      background: white;
      border-radius: 20px 0 0 20px;
    }
    .description {
      background-color: rgb(239, 128, 45);
      border-radius: 0 20px 20px 0;
    }
  }
  .eventlist {
    display: flex;
    justify-content: space-between;
    div {
      width: 18%;
      padding: 15px;
      background-color: white;
      border-radius: 10px;
    }
  }
}
